<div class="carDetails">
    <section class="bTop hiddenOverflow">
        <div class="floatL w70">
            <div class="boxBtn">
                <a class="btn" ng-class="icons" back><img src="../images/fleche.png"/><span
                        class="backListingLabel  ">Retour au listing</span></a>
            </div>
        </div>
    </section>
    <div class="box bgWhite">
        <div class="dataLine">
            <h1 class="noBold f12">
                <span class="dataBrand">{{car.Marque}} {{car.Famille}}</span>
                <span class="dataPrice">{{car.PrixVenteTTC}} € </span>
                <span class="dataVersion">{{car.Modele}}</span>
                <span class="dataKm">{{car.Kilometrage}} Km</span>
                <span class="dataZip">{{car.SocieteVille}}</span>
                <span class="dataYear">{{car.Annee}}</span>

                <div class="dataWarranty">
                    <span>Garantie: {{car.GarantieLibelle}}</span><br/>

                    <p class="italic">(possibilité d'extension de 6 à 24 mois)</p>
                </div>
            </h1>
        </div>
    </div>

    <!-- slider container -->
    <div class="container slider">
        <!-- enumerate all photos -->
        <img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()"
             ng-show="isActive($index)" ng-src="{{photo.src}}"/>
        <!-- extra navigation controls -->
        <ul class="nav">
            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
                <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);"/>
            </li>
        </ul>
    </div>

    <div class="box boxMainInfos col-md-8">
        <h2 class="f12 title clear">Informations générales</h2>

        <div class="">
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Nombre de portes :</span><span class="detailRBlockLabel">{{car.NbPortes}}</span>
            </div>
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Puissance Fiscale :</span><span class="detailRBlockLabel">{{car.PuissanceFiscale}} CV</span>
            </div>
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Boite de vitesse :</span><span class="detailRBlockLabel">{{car.BoiteLibelle}}</span>
            </div>
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Energie :</span><span
                    class="detailRBlockLabel">{{car.EnergieLibelle}}</span>
            </div>
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Mise en circulation :</span><span
                    class="detailRBlockLabel"> {{car.Date1Mec}}</span>
            </div>
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Nombre de places :</span><span
                    class="detailRBlockLabel">{{car.NbPlaces}}</span>
            </div>
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Couleur extérieure :</span><span class="detailRBlockLabel">{{car.Couleur}}</span>
            </div>
            <div class=" hiddenOverflow">
                <span class="detailLBlockLabel">Première main :</span><span class="detailRBlockLabel">{{car.PremiereMain}} </span>
            </div>
        </div>
    </div>
    <div class="box boxMainInfos col-md-8">
        <h2 class="f12 title clear">Equipements de Serie et Options</h2>

        <div class="">

            <div class="hiddenOverflow pL10">
                <div class="bGreyCR hiddenOverflow one third boxOptions" ng-repeat="EquipementsSerieEtOption in car.EquipementsSerieEtOption">
                    <ul>
                        <li>{{EquipementsSerieEtOption}}</li>
                    </ul>
                </div>
                </span>
            </div>
        </div>
    </div>
</div>