<div id="foo" class="carDetails">
    <section class="bTop hiddenOverflow">
        <div class="floatL w70">
            <div class="boxBtn">
                <a class="btn" ng-class="icons" back><img src="../images/fleche.png"/><span
                        class="backListingLabel  ">Retour au listing</span></a>
            </div>
        </div>
    </section>
    <div class="box bgWhite">
        <div class="dataLine">
            <h1 class="noBold f12">
                <!--<span class="dataBrand"><img src="../marques/{{car.Marque}}.png"/></span>-->
                <span class="dataBrand">{{car.Marque}} {{car.Famille}}</span>
                <span class="dataPrice">{{car.PrixVenteTTC}} € </span>
                <span class="dataVersion">{{car.Modele}}</span>
                <span class="dataKm">{{car.Kilometrage}} Km</span>
                <span class="dataZip">{{car.SocieteVille}}</span>
                <span class="dataYear">{{car.Annee}}</span>

                <div class="dataWarranty">
                    <span>Garantie: {{car.GarantieLibelle}}</span><br/>

                    <p class="italic">(possibilité d'extension de 6 à 24 mois)</p>
                </div>
            </h1>
        </div>
    </div>

    <!-- slider container -->
    <div class=" boxMainInfos col-md-8">
        <div class="blockInfosL">
            <div class="hiddenOverflow pL10">
                <table class="table">
                    <thead>
                    <tr>
                        <td class="text_tittle" colspan="3">Informations générales</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='element in infoList'>
                        <td class = "text_shadow">{{element.left}}</td>
                        <td class="text_emboss">{{element.middle}}</td>
                        <td>{{element.right}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="">
            <div class="container slider">
                <!-- enumerate all photos -->
                <img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()"
                     ng-swipe-left="showNext()"
                     ng-show="isActive($index)" ng-src="{{photo.src}}"/>
                <!-- extra navigation controls -->
                <ul class="nav">
                    <div class="boxSlider">
                        <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
                            <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}"
                                 ng-click="showPhoto($index);"/>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class=" boxMainInfos col-md-8">
        <div class="blockInfosC">
            <div class="hiddenOverflow pL10">
                <table>
                    <thead>
                    <tr>
                        <td class="text_tittle" colspan="3">Equipements de Serie et Options</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='element in objList' ng-class=" 'text_shadow '">
                        <td>{{element.left}}</td>
                        <td>{{element.middle}}</td>
                        <td>{{element.right}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>