<div class="cars">
    <div class="container" ng-controller="AutoPrivilegeCtrl">
        <!-- p align="center"><img ng-src="../images/inprogress.png"></p -->
        <!--        <table ng-table="tableParams" show-filter="true" class="table">
                    <tr ng-repeat="car in $data" ng-click="showCarDetail(car._id)" ng-class="{color: hover}"
                        ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <td><img class="img-rounded resize" ng-src="../images/img00.jpg"></td>
                        <td data-title="'Marque'" filter="{ 'Marque': 'name' }" filter-data="names($column)">
                            {{car.Marque}}
                        </td>
                        <td data-title="'Modèle'" filter="{ 'Famille': 'age' }" filter-data="ages($column)">
                            {{car.Famille}}
                        </td>
                    </tr>
                        <td data-title="'Kilometrage'" sortable="Kilometrage">
                            {{car.Kilometrage}}
                        </td>
                        <td data-title="'Prix de vente'" sortable="PrixVenteTTC">
                            {{car.PrixVenteTTC}}
                        </td>
                    </tr>
                </table>-->

        <!--  ----------------------------------------------------------------------------- -->

        <table ng-table="tableParams" show-filter="true" class="table">
            <tr ng-repeat="car in $data"ng-click="showCarDetail(car._id)" ng-class="{color: hover}"
                ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <td><img class="img-rounded resize" ng-src="../photos/{{ getSrc(car.Photos) }}"></td>
                <!--<td data-title="'Marque'" filter="{ 'Marque': 'name' }" filter-data="names($column)">-->
                <td data-title="'Marque'">
                    {{car.Marque}}
                </td>
                <td data-title="'Modèle'">
                    {{car.Famille}}
                </td>
                <td data-title="'Kilometrage'" sortable="Kilometrage">
                    {{car.Kilometrage}}
                </td>
                <td data-title="'Prix de vente'" sortable="PrixVenteTTC">
                    {{car.PrixVenteTTC}}
                </td>
            </tr>
        </table>
        <script type="text/ng-template" id="ng-table/filters/name.html">
            <select ng-options="name.id as name.title for name in nameOptions"
                    ng-model="params.filter()['name']"
                    ng-change="models(column, params.filter()['brand'])"
                    class="filter filter-select form-control">
            </select>
        </script>

    </div>
</div>