<div class="container" ng-controller="AutoPrivilegeCtrl">
    <div class="services">
        <div class="boxTest1 col-md-4">
            <div class="title">
                Nos engagements
            </div>
            <div class="boxContentText">
                <div class="boxText">La politique commerciale de CHANAS AUTO&nbsp;repose sur la satisfaction de ses
                    clients. Ainsi, nous mettons tout en œuvre pour garantir une qualité optimale à l’ensemble de
                    nos services ...
                </div>
            </div>
        </div>
        <div class="boxTest2 col-md-4">
            <div class="title">
                LES AUTRES SERVICES DE CHANAS AUTO

            </div>


            <div class="boxContentText">
                <div class="boxText">Nous avons trois ateliers ainsi que 15 techniciens à votre service pour
                    entretenir et réparer votre véhicule.<br><br>MECANIQUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    CARROSSERIE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NETTOYAGE<br><br>Nous disposons de
                    plusieurs véhicules de prêt, ainsi que des véhicules de location.
                </div>
            </div>        </div>
        <!--<article class="boxArticle mB10 allServices">
            <div class="boxContent floatL">
                <div class="title">
                    Assurance
                </div>
                <div class="boxContentText">
                    <div class="boxText">Afin de vous protéger lors d’éventuels vols et accidents, et son partenaire
                        vous proposent une offre complémentaire vous garantissant un maximum de sécurité, de confort et
                        de simplicité…
                    </div>
                </div>
            </div>
            <div class="boxImg">
                <img class="max100"
                     src="http://prod-vitrines-files.s3-website-eu-west-1.amazonaws.com/pictures/insurance/insurance1.jpg">
            </div>

        </article>
        <article class="boxArticle mB10 allServices">

            <div class="boxContent floatL">

                <div class="title">
                    Financement

                </div>


                <div class="boxContentText">
                    <div class="boxText">Notre gamme de produit de financement a pour objectif de répondre au mieux aux
                        attentes de nos clients. <br>CHANAS AUTO et ses partenaires vous proposent plusieurs formules de
                        finacements : <br>crédits, loa, location longue durée<br>&nbsp;</div>
                </div>


            </div>


            <div class="boxImg">
                <img class="max100"
                     src="http://prod-vitrines-files.s3-website-eu-west-1.amazonaws.com/pictures/funding/funding3.jpg">
            </div>

        </article>
        <article class="boxArticle mB10 allServices">

            <div class="boxContent floatL">



            </div>


            <div class="boxImg">
                <img class="max100"
                     src="http://prod-vitrines-files.s3-website-eu-west-1.amazonaws.com/pictures/engagement/engagements1.jpg">
            </div>

        </article>
        <article class="boxArticle mB10 allServices">

            <div class="boxContent noFloat w100">




            </div>


        </article>
    </div>-->
</div>