#cars {
}

.cars body {
    padding: 10px !important;
}

.cars .ng-table tr.emphasis td {
    background-color: #DDD;
    font-weight: bold;
}

.cars tr {
    cursor: pointer;
}

.cars .color {
    background-color: #92BED1;
}

.cars .resize {
     width: 130px; /* you can use % */
     height: auto;
 }

.cars .resizeBrand {
    width: 60px; /* you can use % */
    height: 60px;
    background-color: transparent;
}