#contact {
}

.contact html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    padding-bottom: 4%;
}

.contact .hidden {
    display: none;
}

.contact .vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.contact .panel.panel-default {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.contact .message {
    padding: 15px;
    margin: 0;
}

.angular-google-map-container {
    height: 400px;
}
