<!DOCTYPE html>
<html ng-app="autoPrivilege">
<head>
    <meta charset="utf-8">
    <title>AutoPrivilege: le spécialiste de l'occasion</title>
    <meta name="description" content="AutoPrivilege : le spécialiste de l'occasion">

    <link rel="canonical" href="http://autoprivilege.org"/>

    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" type="text/css" href="/css/services.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/carDetails.css">
    <link rel="stylesheet" type="text/css" href="/lib/ng-table/dist/ng-table.css">
    <link rel="stylesheet" type="text/css" href="/css/cars.css">
    <link rel="stylesheet" type="text/css" href="/lib/nvd3/nv.d3.css">
    <link rel="stylesheet" type="text/css" href="/css/chart.css">


    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>


    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    <script src='/lib/lodash/dist/lodash.compat.js'></script>
    <script src='/lib/angular-google-maps/dist/angular-google-maps.js'></script>
    <script src='/lib/ng-table/dist/ng-table.js'></script>
    <script src='/lib/angular-animate/angular-animate.min.js'></script>
    <script src='/lib/angular-touch/angular-touch.min.js'></script>
    <script src="/lib/d3/d3.js"></script>
    <script src="/lib/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="/lib/angular-nvd3/dist/angular-nvd3.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/factory.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62573157-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body class="home">
<div class="container">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar" ng-controller="NavbarCtrl">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--<a class="brand" href="#/">AutoPrivilege</a>-->
                    <a class="navbar-brand" rel="home" href="#/" title="Buy Sell Rent Everyting">
                        <img style="max-width:500px; margin-top: -16px;"
                             src="/images/logo.png">
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{active: routeIs('/')}"><a href="#/">Accueil</a></li>
                        <li ng-class="{active: routeIs('/occasions')}"><a href="#/occasions">Véhicules</a></li>
                        <li ng-class="{active: routeIs('/contact')}"><a href="#/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <hr/>
    <!--[if lt IE 9]>
    <p class="browsehappy">Vous utilisez un navigateur <strong>désuet</strong>. Veuillez <a
            href="http://browsehappy.com/">mettre à jour votre
        navigateur</a> Internet.</p>

    <h3 style="text-align: center;">
        Cette application requiert une version plus récente d'Internet Explorer.
    </h3>
    <![endif]-->
    <noscript>
        <h3 style="text-align: center;">
            Cette application requiert que Javascript soit activé pour fonctionner.
        </h3>
    </noscript>
    <ng-view></ng-view>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">AUTOPRIVILEGE </p>

        <p class="text-muted">Horaires d'ouverture :
            Du Lundi au Vendredi de 9h à 12h30 et de 14h à 19h et le Samedi de 10h à 18h</p>

        <p class="text-muted">Tèl: 07.60.37.44.45</p>
    </div>
</footer>
<!-- Live reload script -->
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>
</html>